<?xml version="1.0" encoding="UTF-8"?>
<INVENTORY>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>3030</ITEMID>
<COLOR>0</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>12</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>63965</ITEMID>
<COLOR>0</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>40</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>3005</ITEMID>
<COLOR>0</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>6</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>3005</ITEMID>
<COLOR>1</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>8</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>2444</ITEMID>
<COLOR>0</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>17</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
</INVENTORY>
