<?xml version="1.0" encoding="UTF-8"?>
<INVENTORY>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>32064a</ITEMID>
<COLOR>4</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>81</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>32064a</ITEMID>
<COLOR>5</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>9</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>63965</ITEMID>
<COLOR>0</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>40</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>2444</ITEMID>
<COLOR>0</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>17</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
<ITEM>
<ITEMTYPE>P</ITEMTYPE>
<ITEMID>4732</ITEMID>
<COLOR>72</COLOR>
<MAXPRICE>-1.0000</MAXPRICE>
<MINQTY>2</MINQTY>
<CONDITION>X</CONDITION>
<NOTIFY>N</NOTIFY>
</ITEM>
</INVENTORY>
